.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1rem;
    border-radius: 2rem;
    border: solid black;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
}

article img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit:fill;
}

article p {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    justify-content: center;
    list-style: none;
}

article h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}