footer {
    background-color:rgb(201, 173, 102);
}

.footer-list {
    width: auto;
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 1rem 1rem;
}

.footer-list img {
    width: 5rem;
    height: auto;
}   

.footer-list p {
    margin-right: 80rem;
    
}
