nav {
    background-color:rgb(236, 203, 120);
    display:flex;
    gap: 1rem;
    font-weight: bold;
    width: 100%;
}

nav ul{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 4rem;
    font-size: 2rem;
}



.incart {
    margin-left: 10%;
}

